<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular post form</title>
    <link href="/resources/assets/boot3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/resources/angular.min.js"></script>
    <script src="/resources/assets/jquery-3.2.1.min.js"></script>
    <script src="/resources/assets/boot3/js/bootstrap.js"></script>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>


<body ng-app="gabinetApp" ng-controller="GabinetCtrl as gctrl" ng-cloak
      class="ng-cloak">
<div class="container">
    <div class="nav navbar">
        <h1>
            <p>{{gctrl.hello}}</p></h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <form class="form-control" ng-submit="gctrl.submitForm()">
            <div class="form-group">
                <label for="coursename">Course name:</label><input type="text" class="form-control" id="coursename"
                                                                   ng-model="coursename">
            </div>
            <div class="form-group">
                <label for="coursename">Course name:</label><input type="text" class="form-control" id="coursename"
                                                                   ng-model="coursename">
            </div>
            <div class="form-group">
                <label for="duration">Duration:</label><input type="text" class="form-control" id="duration"
                                                              ng-model="duration">
            </div>
            <div class="form-group">
                <label for="cost">Cost:</label><input type="number" class="form-control" id="cost" ng-model="cost">
            </div>
            <div class="form-group">
                <label for="description">Description:</label><input type="text" class="form-control" id="description"
                                                                    ng-model="description">
            </div>
            <button class="btn btn-primary" ng-submit="gctrl.submitForm()" type="submit">Submit</button>
        </form>
    </div>
</div>

<script src="/resources/assets/jquery-3.2.1.min.js"></script>
<script src="/resources/assets/boot3/js/bootstrap.js"></script>
<script src="/resources/app.js"></script>
</body>
</html>